# GitHubのブランチ指定
backend:
  name: git-gateway
  branch: master 
locale: 'ja' #メッセージが日本語化
media_folder: "./static/img" # 画像ファイルの格納場所を指定
public_folder : "/img" #公開する際の画像フォルダのパスを指定

# NetlifyCMSの編集画面をフロー化
publish_mode: editorial_workflow

# 編集オブジェクト
collections:
  - name: "Book" 
    label: "Book"
    folder: "content/"
    create: true
    slug: "{{fields.slug}}" #ファイル名になる
    editor:
      preview: true #CMSの編集画面にプレビューがつく
    # コレクションのフィールド
    fields:
          - {label: "タイトル", name: "title", widget: "string"}
          - {label: "url名", name: "slug", widget: "string", default: "default-slug"}
          - {label: "公開日", name: "date", widget: "datetime"}
          - {label: "本文", name: "body", widget: "text"}